.card{
  margin-top:10px;
  border-radius: 10px;
}
.close{
  margin-top: 5px;
}
.card-img-top{
  float:left;
  margin-top: 5px;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;

}
.title{
  margin-left: 20px;

}
.item{
  margin-left: 20px;
  align-items: bottom;
  margin-top: 15px;
}
@media (max-width: 768px) {
.inline{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // width: 50%;
}
.card-img-top{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.roundshape {
  border-radius: 50%;
  background-color: gray;
  margin-right: 5px;
  color: wheat;
}
}
.roundshape {
  border-radius: 50%;
  background-color: gray;
  margin-right: 5px;
  color: wheat;
}
.my-pagination {
  background-color: red;
}
